@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    top: 60%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes garis {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgba(75, 75, 75, 0.1);
  }
}
